.input-container {
	padding: 10px;
	background-color: #a1a1a1;
	opacity: 0.8;	
	text-align: center;
	font-size: 26px;
	font-family: sans-serif;
}

.slider-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	font-size: 16px;
	text-align: left;
}

.slider-container input {
	margin-left: 20px;
}

.slider-container div {
	margin-left: 20px;
}